.App {
  text-align: center;
  background-color: #4177bd;
}

.App-header {
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-wrap {
  width:80%;
  display:flex;
}

.memes {
  margin:5px;
  cursor:pointer;
  position:relative;
}

.memes:hover:after {
  co
}

.meme-wrap {
  height:calc(100vh - 3.25rem);
  overflow:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

